.ChatBox {
  z-index: 1000;
}


.Window {
  background-color: #f9f9f9;
  position: fixed;
  top: 150px;
  left: 40px;
  width: 350px;
  height: 60vh;
  border-radius: 4px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 20px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}



.ChatControls {
  height: 135px;
  width: 350px;
  display: flex;
  flex-flow: column;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  bottom: 30px;
  left: 40px;
}

.ChatInput {
  font-family: 'Raleway', cursive;
  height: 40px;
  border-radius: 4px;
  border: 2px solid #aaa;
  /* border-style: solid; */
  padding: 5px;
  width: 300px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

.Username {
  font-weight: bold;
  font-size: 1.1em;
}



.TimeStamp {

}

.Message {
  padding: 10px;
  font-family: 'Raleway', cursive;
  font-size: .8em;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.MessageText {
  font-weight: lighter;
  padding-left: 5px;
  font-size: .95em;
}

.TimeStamp {
  color: #bbb;
  font-size: .75em;
  position: absolute;
  padding-top: 20px;
  right: 15px;
}



@media only screen and (max-width: 400px) {
  .Window {
    background-color: #f9f9f9;
    position: absolute;
    top: 90px;
    left: 40px;
    width: 150px;
    height: 60vh;
    border-radius: 4px;
    display: flex; 
     flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 20px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  }

  .ChatInput {
    font-family: 'Raleway', cursive;
    height: 40px;
    border-radius: 4px;
    border: 2px solid #aaa;
    /* border-style: solid; */
    padding: 5px;
    width: 200px;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  }

  .ChatControls {
    height: 135px;
    width: 200px;
    display: flex;
    flex-flow: column;
    position: fixed;
    align-items: left;
    justify-content: space-between;
    bottom: 30px;
    left: 40px;
  }
}