/* .navbar .navbar-default {
  background-color: #f46242 !important
} */

.navbar-fixed-top .navbar-home {
  background-color: #f46242 !important
}
.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  background-color: #f46242;
  font-size: 50px;
  color: white;
  font-family: 'Pacifico', cursive;
  box-shadow:  0 8px 17px 8px rgba(0,0,0,0.24), 0 3px 14px 10px rgba(0,0,0,0.22), 0 5px 5px -3px rgba(0,0,0,0.32);
  z-index: 1000 !important;
}

.Title {
  text-align: center;
  vertical-align: middle;
  letter-spacing: .08em;
  font-size: 1.5em;
  margin: 0 0 0 30px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black
}



@media only screen and (max-width: 600px) {
  .Title {
    text-align: center;
    vertical-align: middle;
    letter-spacing: .08em;
    font-size: .6em;
    margin: 0 0 0 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black
  }

  .headerImage {
    width:50%
  }
}

  /* align-self: flex-end; */
 
