.Button {
  border-radius: 4px;
  background-color: #f46242;
  color: white;
  border: none;
  padding: 10px;
  width: 100px;
  height: 40px;
  margin: 20px;
  font-size: .7em;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  transition: .2s;
  letter-spacing: .08em;
  cursor: pointer;
}

.Button:hover {
  font-size: .8em;
  height: 44px;
  width: 110px;
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2);
}
