.ChatBox {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  width: 400px;
  border: 1px solid green;
}

.Window {
  align-items: center;
  flex-grow: 2;
  display: flex;
  flex-flow: column;
}

.chatInput {
  flex-grow: 1;
}

.Left {
  align-self: flex-start;
}

.Right {
  align-self: flex-end;
}
